*{
    padding: 0;
    margin: 0;

}
.header{
    height: 100vh;
    background-image:url(https://images.pexels.com/photos/3601425/pexels-photo-3601425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30px;
    text-align: center;

}
.header img{
    width: 170px;
    float: left;
    mix-blend-mode: multiply;
    cursor: pointer;
    
}

.login-btn{
    border:  2px solid white;
    width: 100px;
    padding: 8px 0;
    border-radius: 50px;
    background: transparent;
    outline: none;
    float: right;
}

.header h1{
    padding-top: 200px;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header p{
    margin: 10px 0;
    font-size: medium;
    
    
}

.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    padding: 3px;
    margin: auto;

}
.form-control{
    border: 0;
    border-radius: 30px;
    margin: 3px;
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#45d78e,#234dc1);
    border-radius: 20px;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px;
}
.feature-img img{
    width: 100%;
}
.features h1{
    text-align: center;

}
.price{
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px orangered;
    margin: 2px;
}
.rating .fa{
    margin-top: 15px;
}
.feature-img{
    position: relative;
}
.feature-details .fa{
    margin-right: 5px;

}
.gallery{
    background: rgb(238, 225, 225);
}
.gallery h2{
    text-align: center;
}
.gallery-box img{
    width: 100%;
    border-radius: 10%;
    cursor: pointer;
    transition: 1s;
    
}
.gallery-box h4{
    position: absolute;
    text-align: center;
    top: 50%;
    color: white;

}

.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

.footer{
    background-image: linear-gradient(#c3f9de,#7f91c0);
    color: #1a1919;
}
.footer-logo{
    width: 150px;
    mix-blend-mode: multiply;
    cursor: pointer;
    margin-top: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
}
.footer p{
    text-align: justify;
    font-size: small;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

.footer hr{
    background: rgb(15, 11, 11);
    
}